@import 'styles/main';
.dark {
  .layout-header {
    background: $dark-theme-color-2;
  }
  .sider {
    background: $dark-theme-color-1;
    .menu {
      &-item {
        &:hover {
          @include hover($dark-theme-color-2);
        }
      }
      .active-item {
        @include active($dark-theme-color-2);
      }
    }
  }
  .content {
    background-color: $dark-theme-color-3;
    color: white;
  }
}
.light {
  .layout-header {
    background: $light-theme-color-2;
  }
  .sider {
    background: $light-theme-color-1;
    .menu {
      &-item {
        &:hover {
          @include hover($light-theme-color-2);
        }
      }
      .active-item {
        @include active($light-theme-color-2);
      }
    }
  }
  .content {
    background-color: $light-theme-color-3;
  }
}

.layout {
  height: 100vh;
  .ant-layout {
    position: relative;
    .content {
      overflow-y: auto;
      padding: 20px;
      position: relative;
    }
    &-header {
      .header {
        color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .profile {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          img {
            margin-left: 20px;
          }
        }
      }
    }
  }
  .sider {
    color: $white;
    padding: 15px 40px;
    max-width: 280px !important;
    min-width: 280px !important;
    width: 280px !important;
    .logo {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      cursor: pointer;
      &-name {
        font-size: 23px;
        font-weight: 500;
      }
      .collapse {
        z-index: 1;
        position: absolute;
        transform: rotate(180deg);
        cursor: pointer;
        right: -35px;
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;
        padding: 5px 15px;
        cursor: pointer;
        transition: all ease-in-out 0.25s;
        &-img {
          margin-right: 10px;
        }
        p {
          white-space: nowrap;
          font-family: 'Hachi Maru Pop', cursive;
        }
        &:hover {
          @include hover(null);
        }
        &:active {
          @include active(null);
        }
      }
      .active-item {
        @include active(null);
      }
    }
  }
  .sider-collapse {
    // width: 100px !important;
    max-width: 100px !important;
    min-width: 100px !important;

    .logo {
      &-name {
        display: none;
      }
      .collapse {
        transform: none;
      }
    }
    .menu {
      align-items: center;
      &-item {
        &-img {
          margin-right: 0px;
        }
        p {
          transition: all ease-in-out 10s;
          display: none;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    position: relative;
    .sider {
      position: absolute;
      z-index: 1;
      max-width: 100% !important;
      min-width: 100% !important;
      width: 100% !important;
      height: 100vh;
      .logo {
        padding: 0 15px;
        justify-content: left;
        &-img {
          margin-right: 25px;
        }
      }
    }
    .sider-collapse {
      max-width: 0 !important;
      min-width: 0 !important;
      top: 0;
      left: 0;
      padding: 15px 0;
      .logo {
        padding: 0;
        &-img {
          visibility: hidden;
        }
        .collapse {
          right: -50px;
          box-sizing: unset;
          padding: 10px;
        }
      }
      .menu {
        display: none;
      }
    }
    .layout-header {
      padding-right: 20px;
      .header {
        img {
          display: none;
        }
      }
    }
  }
}
