@import "styles/_variables";
@import "styles/common";
.dark {
  .layout-header {
    background: $dark-theme-color-2;
  }
  .sider {
    background: $dark-theme-color-1;
    .menu {
      &-item {
        &:hover {
          @include hover($dark-theme-color-2);
        }
      }
      .active-item {
        @include active($dark-theme-color-2);
      }
    }
  }
  .content {
    background-color: $dark-theme-color-3;
    color: white;
  }
}
.light {
  .layout-header {
    background: $light-theme-color-2;
  }
  .sider {
    background: $light-theme-color-1;
    .menu {
      &-item {
        &:hover {
          @include hover($light-theme-color-2);
        }
      }
      .active-item {
        @include active($light-theme-color-2);
      }
    }
  }
  .content {
    background-color: $light-theme-color-3;
  }
}

.layout {
  height: 100vh;
  .ant-layout {
    position: relative;
    .content {
      overflow-y: auto;
      padding: 20px;
      position: relative;
    }
    &-header {
      .header {
        color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .profile {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          img {
            margin-left: 20px;
          }
        }
      }
    }
  }
  .sider {
    color: $white;
    padding: 15px 40px;
    .logo {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      cursor: pointer;
      &-name {
        font-size: 23px;
        font-weight: 500;
      }
      .collapse {
        z-index: 1;
        position: absolute;
        transform: rotate(180deg);
        cursor: pointer;
        right: -48px;
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;
        padding: 5px 15px;
        cursor: pointer;
        transition: all ease-in-out 0.25s;
        &-img {
          margin-right: 10px;
        }
        p {
          white-space: nowrap;
          font-family: "Hachi Maru Pop", cursive;
        }
        &:hover {
          @include hover(null);
        }
        &:active {
          @include active(null);
        }
      }
      .active-item {
        @include active(null);
      }
    }
  }
  .sider-collapse {
    // width: 100px !important;
    max-width: 100px !important;
    min-width: 100px !important;

    .logo {
      &-name {
        display: none;
      }
      .collapse {
        transform: none;
      }
    }
    .menu {
      align-items: center;
      &-item {
        &-img {
          margin-right: 0px;
        }
        p {
          transition: all ease-in-out 10s;
          display: none;
        }
      }
    }
  }
}
