$white: #fff;
$black: #000;
$dark-sienna: #3c1518;
$blood-red: #69140e;
$rust: #a44200;
$bronze: #d58936;
$lemon-yellow: #fff94f;

// light theme color:
$light-theme-color-1: #463f3a;
$light-theme-color-2: #8a817c;
$light-theme-color-3: #bcb8b1;
$light-theme-color-4: #f4f3ee;
$light-theme-color-5: #e0afa0;

// dark theme color:
$dark-theme-color-1: #11151c;
$dark-theme-color-2: #212d40;
$dark-theme-color-3: #364156;
$dark-theme-color-4: #7d4e57;
$dark-theme-color-5: #d66853;
