.toggle-theme {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 0.15s;
  z-index: 2;
  &:hover {
    transform: scale(1.15);
  }
  &:active {
    transform: scale(0.95);
  }
}
